@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Pacifico&family=Rammetto+One&display=swap");

html{
  height: 100%;
}

body {
    background: url('/media/theatre-background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/*---Navbar---*/

nav ul {
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
  list-style: none;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  width: 12%;
  position: relative;
}

ul li a {
  font-family: "Rammetto One", cursive;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

nav ul li a:hover {
  color: rgb(128, 0, 0, 1);
  text-decoration: none;
}

/*---Navbar Links---*/

.nav-home {
  top: 8px;
  transform: rotate(15deg);
}

.nav-about {
  top: 54px;
  transform: rotate(10deg);
}

.nav-cast {
  top: 85px;
  transform: rotate(8deg);
}

.nav-shows {
  top: 85px;
  transform: rotate(-8deg);
}


.nav-gallery {
  top: 54px;
  transform: rotate(-10deg);
}

.info {
  top: 8px;
  transform: rotate(-15deg);
}

/*---Logo---*/

.header-logo {
  top: 33px;
  left: -25;
  right: 0;
  position: absolute;
}

.header-logo img {
  height: 160px;
}

.header-logo-sm img {
  height: 150px;
}

/*---Navbar Overlay---*/

.menu-icon {
  color: rgb(255, 255, 255) !important;
  font-size: 40px;
  cursor: pointer;
}

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgb(0, 0, 0, 0.8);
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.menu-content a {
  padding: 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Rammetto One", cursive;
  font-size: 1.5rem;
  color: rgb(255, 255, 255, 1);
}

.menu-content-intro {
  padding: 16px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  font-family: roboto, sans-serif;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  margin-top: 3rem;
  letter-spacing: 2px;
}

.menu-content-intro-links a {
  padding: 9px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
}

.menu-content a:hover {
  background-color: rgb(128, 0, 0, 1);
}

.menu-content-intro-links a:hover {
  background-color: rgb(128, 0, 0, 1);
}

.menu-container .closebtn {
  position: absolute;
  top: 24px;
  right: 48px;
  font-size: 50px;
  color: rgb(255, 255, 255, 1);
  z-index: 1;
  cursor: pointer;
}