{% load static %}

<nav class="d-none d-xl-block">
    <ul>
        <li><a class="nav-home" href="index.html">Home</a></li>
        <li><a class="nav-about" href="about.html">About</a></li>
        <li><a class="nav-cast" href="cast.html">Cast</a></li>
        <li>
            <a class="header-logo" href="index.html">
                <img src="media/logo.png" alt="Ignite Theatre Logo Logo" />
            </a>
        </li>
        <li><a class="nav-shows" href="shows.html">Shows</a></li>
        <li><a class="nav-gallery" href="gallery.html">Gallery</a></li>
        <li><a class="info" href="info.html">Info</a></li>
    </ul>
</nav>