{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container" id="container-fluid-padding">
    <div class="row text-box-outside">
        <div class="row text-box-inside">
            <!---Content 1--->
            <div class="col-12 center">
                <p class="page-main-header text-uppercase mt-4 mb-5">
                    <i class="fa-solid fa-ticket"></i>&emsp;Ticket Details
                </p>
            </div>
            <div class="col-6">
                <p class="content-h text-uppercase">
                    A Grandma's GRIMM
                </p>
                <p class="content-h text-uppercase">
                    {{ ticket.event_date }}
                </p>
                <p class="content-p-profile">
                    {{ ticket.description|linebreaksbr }}
                </p>
                <p class="content-h text-uppercase">
                    Event Details
                </p>
                <p class="content-p-profile">
                    {{ ticket.event_details|linebreaksbr }}
                </p>
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ ticket.id }}" id="id_qty_{{ ticket.id }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'tickets' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
            <div class="col-3 poster-ticket-details">
                <img class="card-img-top img-fluid" src="{{ ticket.image.url }}" alt="{{ ticket.name }} poster">
            </div>
            <div class="col-3">
                <p class="content-p text-uppercase">
                    <strong>Price</strong>
                </p>
                <p class="content-p-profile">
                    {{ ticket.price_details|linebreaksbr }}
                </p>
                <p class="content-p text-uppercase">
                    <strong>Other Dates</strong>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}