{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">

        <!---Content 1--->
        <div class="col-12 center">
            <p class="page-main-header text-uppercase mt-4">
                <i class="fa-solid fa-ticket"></i>&emsp;Ticket Details
            </p>
            <p class="page-main-sub-header-tickets text-uppercase mt-4">
                A Grandma's GRIMM
            </p>
        </div>

</section>

{% endblock %}