{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">
        <!---Content 1--->
        <div class="col-12 text-center">
            <p class="page-main-header text-uppercase mt-4">
                <i class="fa-solid fa-ticket"></i>&emsp;bag
            </p>
        </div>

        <!---Performance Info--->
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-3 mb-4">

        </div>
    </div>

</section>

{% endblock %}