{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">
        <!---Content 1--->
        <div class="col-12 text-center">
            <p class="page-main-header text-uppercase mt-4">
                <i class="fa-solid fa-ticket"></i>&emsp;bag
            </p>
        </div>

        <!---Performance Info--->
        <div class="col-12">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table content-p">
                    <tr>
                        <th scope="col">Ticket Info</th>
                        <th scope="col">Price</th>
                        <th scope="col">date</th>
                    </tr>
                    {% for item in bag_items %}
                    <tr>
                        <td>{{ item.ticket.name }}</td>
                        <td>{{ item.ticket.price }}</td>
                        <td>{{ item.ticket.date}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p>Your bag is empty</p>
            {% endif %}
        </div>

</section>

{% endblock %}