{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid">
    <div class="row text-box-outside mt-4">
        <div class="text-box-inside">
            <div class="col-12">
                <p class="page-main-header text-uppercase mt-4 mb-0">
                    A Grandma's GRIMM
                </p>
                <p class=" page-main-sub-headers">
                    8th-11th & 15th-18th December
                </p>
                <p class="page-main-sub-headers">TICKETS AVAILABLE FROM:&emsp;&emsp;<a target="_blank"
                        href="https://www.ticketsource.co.uk/whats-on?q=a%20grandma%27s%20grimm" target="_blank"><img
                            class="ticket-source" src="media/logo/ticket-source.png" alt="Ticket Source Logo" /></a>
                </p>
                <p class="text-center mt-4 mb-4">
                    <a href="https://www.artscouncil.org.uk/" target="_blank"><img
                            src="media/logo/arts-council-england.jpg" class="img-fluid arts-council"
                            alt="The Arts Council England Logo" /></a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}