{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid">
    <div class="row text-box-outside mt-5">
        <div class="text-box-inside">
            <div class="col-12">
                <p class="page-header text-uppercase mt-4" id="past_shows">
                    A Grandma's GRIMM
                </p>
                <p class="page-date-header text-center">
                    8th-11th & 15th-18th December
                </p>
                <p class="content-p text-center ticket-source-margin">TICKETS AVAILABLE FROM:&emsp;&emsp;<a
                        target="_blank" href="https://www.ticketsource.co.uk/whats-on?q=a%20grandma%27s%20grimm"
                        class="murray-bealby" target="_blank"><img class="ticket-source mt-3 mb-4"
                            src="assets/images/logo/ticket-source.png" alt="Ticket Source Logo" /></a>
                </p>
                <div class="text-center mt-1 mb-0">
                    <a href="https://www.artscouncil.org.uk/" target="_blank"><img
                            src="assets/images/sponsors/arts-council-england-logo.jpg" class="img-fluid arts-council"
                            alt="The Arts Council England" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}