{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">

        <!---Header--->
        <div class="text-box-inside">
            {% for c in current_shows %}
            <div class="col-12">
                <p class="page-main-header text-uppercase mt-4 mb-4">
                    {{ c.friendly_name }}
                </p>
            </div>
            {% endfor %}
        </div>

        <!---Cast--->
        <div class="row text-box-inside pl-4 pt-4 pr-4 pb-0 mt-4 mb-4">
            <div class="col-12">
                <p class="content-h mb-5 text-uppercase"><i class="fas fa-users"></i>&emsp;Cast
                </p>
                <div class="row">
                    {% for cast in casts %}
                    <div class="col-12 col-md-6 col-lg-3">
                        {% if cast.role %}
                        <p class="content-p text-uppercase"><i class="fas fa-circle"></i>&emsp;
                            <strong>{{ cast.role }}</strong>
                        </p>
                        {% endif %}
                        {% if cast.name %}
                        <p class="content-p">&emsp;-&emsp;<i>{{ cast.name }}</i></p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!---Crew--->
        <div class="row text-box-inside pl-4 pt-4 pr-4 pb-0 mt-4 mb-4">
            <div class="col-12">
                <p class="content-h mb-5 text-uppercase"><i class="fas fa-video"></i>&emsp;Crew
                </p>
                <div class="row">
                    {% for crew in crews %}
                    <div class="col-12 col-md-6 col-lg-3">
                        {% if crew.role %}
                        <p class="content-p text-uppercase"><i class="fas fa-circle"></i>&emsp;
                            <strong>{{ crew.role }}</strong>
                        </p>
                        {% endif %}
                        {% if crew.name %}
                        <p class="content-p">&emsp;-&emsp;<i>{{ crew.name }}</i></p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!---Profile--->
        <div class="row text-box-inside pl-4 pt-4 pr-4 pb-0 mt-4 mb-4">
            <div class="col-12">
                <p class="content-h mb-5 text-uppercase"><i class="fas fa-video"></i>&emsp;Profile
                </p>
                <div class="row">
                    {% for actor in actors %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card" style="width: 18rem;">
                            {% if actor.image %}
                            <img class="card-img-top img-fluid" src="{{ actor.image.url }}" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                {% if actor.name %}
                                <h5 class="card-title">{{ actor.name }}</h5>
                                {% endif %}
                                {% if actor.description %}
                                <p class="card-text">{{ actor.description }}</p>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {% if actor.website %}
                                <a href="#" class="card-link">{{ actor.website }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


</section>

{% endblock %}